@use '../../utils' as *;

$font-sizes: (
  14: null,
  16: null,
  15: null,
  20: null,
  26: null,
  30: null,
  34: null,
  40: null,
  50: 42px,
  60: null,
  80: null
);

@each $size, $responsive in $font-sizes {
  .fns-#{$size} {
    font-size: #{$size}px;

    @if $responsive {
      @media #{$xs} {
        font-size: $responsive;
      }
    }
  }
}
