:root {
    --mh-theme-color: #FFCF4E;
    --mh-heading-color: #121018;
    --mh-primary-color: #073D30;
    --mh-primary-color-2: #063D30;
    --mh-body-color: #5A5860;
    --mh-gray-color: #56605d;
    --mh-white-color: #fff;
    --mh-off-white-color: #F2F0EC;
    --mh-off-white-color-2: #F8F3E7;
    --mh-pink-color: #FF73AE;
}