:root {
    --mh-theme-color: #FFCF4E;
    --mh-heading-color: #121018;
    --mh-primary-color: #073D30;
    --mh-primary-color-2: #063D30;
    --mh-body-color: #56605D;
    --mh-white-color: #fff;
    --mh-gray-color: #F2F0EC;
}