$font-url: 'https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Sue+Ellen+Francisco&family=Tillana:wght@400;500;600;700;800&display=swap';

:root {
    --mh-heading-font: "Fraunces", serif;
    --mh-heading-font-2: "Libre Baskerville", serif;
    --mh-sub-heading-font: "Sue Ellen Francisco", cursive;
    --mh-sub-heading-font-2: "Tillana", system-ui;
    --mh-body-font: "Inter", sans-serif;
}