@use '../../utils' as *;

.mh-header {
    &-transparent {
        position: absolute;
        top: 26px;
        left: 0;
        right: 0;
        z-index: 9;
    }
    &-container {
        max-width: 1424px;
        padding: 0 12px;
        margin: auto;
    }
    &-bg {
        border-radius: 15px;
        padding-right: 5px;
    }
    &-row {
        display: flex;
        @media #{$xxl} {
            margin-left: -1px;
        }
        @media #{$xs} {
            margin-left: -5px;
        }
    }
    &-logo {
        position: relative;
        z-index: 2;
        &-box {
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 auto;
        }
        &-shape {
            position: relative;
            & svg {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
            }
        }
        &-sep {
            padding-left: 20px;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                width: 1px;
                height: 30px;
                background-color: rgba(8, 55, 44, 0.2);
                right: -24px;
                top: 50%;
                transform: translateY(-50%);
                
            }
        }
    }
    &-content {
        width: 100%;
        @media #{$lg,$md} {
            padding: 5px 0;
            padding-right: 12px;
        }
        @media #{$xs} {
            padding: 15px 0;
            padding-right: 12px;
        }
    }
    &-menu {
        ul {
            list-style: none;
            li {
                display: inline-block;
                margin-right: 40px;
                position: relative;
                @media #{$xl} {
                    margin-right: 28px;
                }
                @media #{$xxlm} {
                    margin-right: 20px;
                }
                a {
                    font-size: 16px;
                    font-weight: 600;
                    color: var(--mh-primary-color-2);
                    display: inline-block;
                    line-height: 1;
                    padding: 27px 0;
                }
                &:hover {
                    & > a {
                        color: var(--mh-theme-color);
                    }
                    & > .sub-menu {
                        top: 100%;
                        visibility: visible;
                        opacity: 1;
                    }
                }
                & .sub-menu {
                    position: absolute;
                    background-color: var(--mh-white-color);
                    width: 200px;
                    padding: 15px 0 18px;
                    left: 0;
                    top: 105%;
                    visibility: hidden;
                    opacity: 0;
                    @include mh-transition();
                    z-index: 9;
                    & li {
                        display: block;
                        margin-right: 0;
                        & a {
                            padding: 10px 30px;
                            display: block;
                        }
                        & .sub-menu {
                            left: 102%;
                            top: 0;
                        }
                        &:hover {
                            & > .sub-menu {
                                left: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    &-phone {
        & a {
            color: var(--mh-primary-color-2);
            font-size: 15px;
            font-weight: 600;
            display: inline-flex;
            align-items: center;
            & svg {
                margin-right: 8px;
            }
        }
    }
    &-toggle {
        font-size: 34px;
        color: var(--mh-primary-color-2);
        border-radius: 5px;
        &-2 {
            background-color: var(--mh-white-color);
            padding: 7px 14px;
            font-size: 22px;
            border-radius: 5px;
        }
    }
}

.mh-header-full {
    &-area {
        @media #{$lg,$md,$xs} {
            padding: 10px 30px;
        }
    }
    &-row {
        display: flex;
        @media #{$lg,$md,$xs} {
            justify-content: space-between;
        }
    }
    &-left {
        width: 260px;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        @media #{$xl} {
            width: 180px;
        }
    }
    &-logo {
        @media #{$xl} {
            padding-left: 20px;
        }
        @media #{$lg,$md,$xs} {
            padding-left: 0;
        }
        &-shape {
            border-style: solid;
            border-width: 120px 0 0 85px;
            border-color: transparent transparent transparent var(--mh-primary-color-3);
            transform: rotate(0deg);
            position: absolute;
            top: 0;
            right: -85px;
            @media #{$xl} {
                border-width: 120px 0 0 35px;
                right: -34px;
            }
        }
        &-line {
            width: 6px;
            height: calc(100% + 25px);
            background-color: var(--mh-theme-color);
            position: absolute;
            top: -2px;
            right: -5px;
            z-index: 222222222;
            transform: rotate(-35deg);
            transform-origin: top right;
            @media #{$xl} {
                height: calc(100% + 5px);
                transform: rotate(-16deg);
            }
        }
    }
    &-middle {
        width: 100%;
    }
    &-top {
        @media #{$xl} {
            padding-left: 50px;
        }
    }
    &-meta {
        display: flex;
        align-items: center;
        padding: 11px 0;
        & span {
            font-size: 14px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.8);
            & svg {
                margin-right: 2px;
            }
        }
        &-dvir {
            width: 1px;
            height: 20px;
            background-color: rgba(255, 255, 255, 0.2);
            display: inline-block;
            margin: 0 22px;
            @media #{$xl} {
                margin: 0 20px;
            }
        }
    }
    &-lang {
        & ul {
            list-style: none;
            & li {
                line-height: 1;
                position: relative;
                & a {
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--mh-white-color);
                    line-height: 1;
                }
            }
        }
        &-submenu {
            display: none;
            width: 70px;
            background-color: #000;
            padding: 7px 15px;
            position: absolute;
            top: 140%;
            left: 0;
            & li {
                margin: 7px 0;
            }
        }
    }
    &-menu {
        border-radius: 0 12px 12px 0;
        @media #{$xl} {
            padding-left: 50px;
        }
    }

    &-right {
        width: 260px;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        @media #{$xl} {
            width: 200px;
        }
    }
    &-btn {
        & a {
            color: var(--mh-theme-color);
            letter-spacing: -0.02em;
            font-family: var(--mh-sub-heading-font-2);
            font-weight: 600;
            font-size: 18px;
            @media #{$xl} {
                font-size: 15px;
            }
        }
        & svg {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: -18px;
        }
    }
}