@use '../../utils' as *;

/* 3.2 Offcanvas */

.mh-offcanvas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-area {
        position: fixed;
        z-index: 999;
        right: 0;
        top: 0;
        width: 400px;
        background-color: var(--mh-white-color);
        padding: 50px 40px;
        height: 100%;
        @include translateX(100%);
        @include mh-transition(.4s);
        @media #{$xs} {
            width: 100%;
        }
        @media #{$sm} {
            width: 400px;
        }
    }
    &-open {
        @include translateX(0);
    }
    &-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #000;
        left: 0;
        top: 0;
        z-index: 99;
        transition: .3s;
        opacity: 0;
        visibility: hidden;
        &-open {
            opacity: .4;
            visibility: visible;
        }
    }
    &-close {
        &-button {
            font-size: 28px;
            color: var(--mh-heading-color);
        }
    }
    &-title {
        font-size: 28px;
    }
    &-gallery {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 10px;
    }
    &-sm-title {
        font-size: 28px;
        margin-bottom: 10px;
    }
    &-info {
        & span {
            display: block;
            margin-bottom: 4px;
        }
    }
    &-social {
        &-title {
            font-size: 28px;
            margin-bottom: 10px;
        }
        & a {
            width: 44px;
            height: 44px;
            background-color: var(--mh-primary-color);
            display: inline-block;
            color: var(--mh-white-color);
            border-radius: 12px;
            text-align: center;
            line-height: 40px;
            margin-right: 2px;
        }
    }
}