@use '../../utils' as *;

/* 3.22 Footer */

.mh-footer {
    &-top {
        &-content {
            border-bottom: 1px solid rgba(248, 243, 231, 0.06);
            padding-top: 50px;
            padding-bottom: 65px;
        }
        &-title {
            font-size: 50px;
            color: var(--mh-white-color);
            @media #{$xs} {
                font-size: 35px;
                padding: 0 12px;
                letter-spacing: 0;
            }
            & a {
                color: var(--mh-theme-color);
                text-decoration: underline;
            }
        }
    }
    &-bg {
        background-position: center;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        mix-blend-mode: luminosity;
        opacity: .08;
    }
    &-intro-title {
        letter-spacing: -0.02em;
        line-height: 1.2;
        &-2 {
            font-size: 20px;
            line-height: 1.3;
            padding-right: 55px;
        }
    }
    &-social {
        & a {
            background-color: var(--mh-white-color);
            height: 44px;
            width: 44px;
            border-radius: 12px;
            display: inline-block;
            text-align: center;
            line-height: 42px;
            &:hover {
                background-color: var(--mh-theme-color);
            }
        }
        &-2 {
            & a {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                line-height: 38px;
            }
        }
    }
    &-title {
        letter-spacing: -0.02em;
    }
    &-widget {
        & ul {
            list-style: none;
            & li {
                display: block;
                line-height: 1;
                margin-bottom: 15px;
                & a {
                    font-size: 16px;
                    color: rgba(255, 255, 255, 0.7);
                    line-height: 1;
                    &:hover {
                        color: var(--mh-theme-color);
                    }
                }
            }
        }
        & p {
            color: rgba(255, 255, 255, 0.7);
            font-size: 16px;
            font-weight: 500;
            padding-right: 35px;
            margin-bottom: 0;
        }
    }
    &-contact {
        & a {
            color: var(--mh-white-color);
            line-height: 1;
            display: block;
            margin-top: 20px;
            font-size: 18px;
            font-weight: 600;
        }
    }
    &-col {
        &-2 {
            padding-left: 30px;
            @media #{$md,$xs} {
                padding-left: 0;
            }
        }
        &-3 {
            margin-left: -15px;
            @media #{$md,$xs} {
                margin-left: 0;
            }
        }
    }
    &-sep {
        border-top: 1px solid rgba(248, 243, 231, 0.06);
        margin-top: 60px;
    }
    &-copyright {
        & p {
            letter-spacing: -0.02em;
            color: rgba(255, 255, 255, 0.7);
            & a {
                font-weight: 600;
                text-decoration: underline;
                color: var(--mh-white-color);
            }
        }
    }
    &-shape {
        &-01 {
            top: 0;
            left: 0;
        }
        &-02 {
            top: -30px;
            left: 10%;
        }
        &-03 {
            top: 14%;
            right: 17%;
        }
        &-04 {
            bottom: 55px;
            left: 40px;
        }
        &-05 {
            bottom: -52px;
            right: -83px;
        }
    }
    &-gallery {
        & img {
            width: 100%;
            height: 80px;
            object-fit: cover;
        }
    }
    &-2 {
        &-shape {
            &-01 {
                top: -45px;
                left: 0;
                height: 45px;
            }
        }
        &-col {
            &-2 {
                @media #{$lg} {
                    padding-left: 40px;
                }
            }
            &-3 {
                padding-left: 48px;
                @media #{$lg,$md,$xs} {
                    padding-left: 0;
                }
            }
            &-4 {
                padding-left: 72px;
                @media #{$lg,$md,$xs} {
                    padding-left: 0;
                }
            }
        }     
    }
    &-style-3 {
        border-radius: 24px 24px 0 0;
    }
    &-subscribe {
        position: relative;
        & label {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 24px;
        }
        & input {
            background-color: var(--mh-white-color);
            border-radius: 50px;
            padding: 30px 50px;
            font-size: 16px;
            line-height: 1;
            @include mh-placeholder {
                color: rgba(18, 16, 24, 0.6);
                font-size: 16px;
                line-height: 1;
            }
        }
        & button {
            width: 50px;
            height: 50px;
            background-color: var(--mh-secondary-color);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 5px;
        }
    }
    &-3 {
        &-col {
            &-3 {
                margin-left: -10px;
                @media #{$xs} {
                    margin-left: 0;
                }
            }
            &-4 {
                margin-left: -20px;
                @media #{$md,$xs} {
                    margin-left: 0;
                }
            }
            &-5 {
                padding-left: 50px;
                @media #{$md,$xs} {
                    padding-left: 0;
                }
            }
        }
    }
}


.mh-back-to-top {
    width: 50px;
    height: 50px;
    background-color: var(--mh-secondary-color);
    color: var(--mh-white-color);
    border-radius: 10px;
    position: fixed;
    bottom: 25px;
    right: 50px;
    z-index: 999999;
    @include mh-transition();
    &-open {
        bottom: 50px;
    }
}