@use '../../utils' as *;

.mh-about {
    &-wrapper {
        @media #{$xl} {
            padding-left: 20px;
        }
        @media #{$lg} {
            margin-top: 50px;
        }
        @media #{$md,$xs} {
            padding-left: 0;
        }
    }
    &-shape {
        &-01 {
            mix-blend-mode: exclusion;
            left: 97px;
            top: 23%;
        }
        &-02 {
            right: -232px;
            top: -50px;
        }
    }
    &-img {
        &-shape {
            &-01 {
                top: 0;
                left: 0;
            }
            &-02 {
                bottom: 0;
                left: 0;
            }
        }
    }
    &-vr-title {
        font-size: 130px;
        color: #E0DEDA;
        font-weight: 600;
        top: 110px;
        right: -182px;
        transform: rotate(90deg);
        z-index: -1;
    }
    &-number{
        bottom: 85px;
        right: -120px;
        @media #{$lg} {
            right: -85px;
        }
        @media #{$xs} {
            bottom: 30px;
            right: 10px;
        }
        &-info {
            position: absolute;
            text-align: right;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            & h2 {
                font-size: 90px;
                color: #F8F3E7;
                margin-bottom: 5px;
            }
            & h6 {
                font-size: 15px;
                font-weight: 600;
                color: #F8F3E7; 
            }
        }
    }
    &-fact {
        &-shape {
            mix-blend-mode: multiply;
            z-index: -1;
            max-width: inherit;
            top: -65px;
            left: -50px;
        }
        &-box {
           padding: 18px 15px;
        }
        &-img {
            margin-right: 12px;
        }
        &-info {
            & h4 {
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 7px;
            }
            & p {
                margin-bottom: 0;
                font-size: 15px;
                line-height: 24px;
            }
        }
    }
    &-quote {
        &-img {
            flex: 0 0 auto;
            & img {
                margin-right: 25px;
            }
        }
        & p {
            font-size: 20px;
            letter-spacing: -0.02em;
        }
    }
    &-2 {
        &-shape {
            top: -22%;
            right: 0;
            z-index: -1;
            @media #{$md} {
                top: 0;
                max-width: 40%;
            }
        }
    }
    &-thumb {
        @media #{$lg,$md,$xs} {
            margin-left: 0;
        }
        &-shape {
            &-01 {
                top: 50%;
                left: -41%;
                transform: translateY(-41%);
                box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.14);
                border: 6px solid var(--mh-white-color);
                border-radius: 20px;
            }
            &-02 {
                top: 60px;
                left: -120px;
                border-radius: 20px;
            }
            &-03 {
                bottom: 50px;
                left: -147px;
                border-radius: 20px;
            }
        }
    }
    &-3 {
        margin-left: -20px;
        padding-right: 20px;
        @media #{$lg,$md,$xs} {
            margin-left: 0;
            padding-left: 0;
        }
    }
    &-list {
        padding-right: 20px;
        @media #{$lg,$md,$xs} {
            padding-right: 0;
        }
        &-icon {
            margin-right: 22px;
            flex: 0 0 auto;
        }
        &-title {
            font-size: 24px;
            letter-spacing: -0.02em;
        }
    }
}