@use '../../utils' as *;

.mh-about {
    &-shape {
        &-01 {
            mix-blend-mode: exclusion;
            left: 97px;
            top: 23%;
        }
        &-02 {
            right: -232px;
            top: -50px;
        }
    }
    &-img {
        &-shape {
            &-01 {
                top: 0;
                left: 0;
            }
            &-02 {
                bottom: 0;
                left: 0;
            }
        }
    }
    &-vr-title {
        font-size: 130px;
        color: #E0DEDA;
        font-weight: 600;
        top: 110px;
        right: -182px;
        transform: rotate(90deg);
        z-index: -1;
    }
    &-number{
        bottom: 85px;
        right: -120px;
        &-info {
            position: absolute;
            text-align: right;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            & h2 {
                font-size: 90px;
                color: #F8F3E7;
                margin-bottom: 5px;
            }
            & h6 {
                font-size: 15px;
                font-weight: 600;
                color: #F8F3E7; 
            }
        }
    }
    &-fact {
        &-shape {
            mix-blend-mode: multiply;
            z-index: -1;
            max-width: inherit;
            top: -65px;
            left: -50px;
        }
        &-box {
           padding: 18px 16px;
        }
        &-img {
            margin-right: 12px;
        }
        &-info {
            & h4 {
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 7px;
            }
            & p {
                margin-bottom: 0;
                font-size: 15px;
                line-height: 24px;
            }
        }
    }
    
}