@use '../../utils' as *;

.mh-text-slider {
    &-title {
        font-size: 80px;
        font-weight: 300;
        @media #{$md} {
            font-size: 65px;
        }
        @media #{$xs} {
            font-size: 35px;
        }
        & img {
            margin-right: 40px;
            @media #{$xs} {
                max-width: 6%;
            }
        }
    }
}

.tp-slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.mh-text-slider-active{
    & .swiper-slide{
        width: auto;
        display: inline-block;
    }
}
.mh-text-bg {
    &-1 {
        padding: 50px 0;
        @media #{$xs} {
            padding: 60px 0;
        }
    }
    &-2 {
        padding: 68px 0;
    }
}

.mh-bran {
    background-color: var(--mh-white-color);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media #{$md} {
        height: 80px;
    }
}

.mh-logo-brand {
    padding: 40px 0;
    &-border {
        border-top: 1px solid rgba(18, 16, 24, 0.1);
        border-bottom: 1px solid rgba(18, 16, 24, 0.1);
    }
}