@use '../../utils' as *;

.mhcauses {
    padding: 15px;
    box-shadow: 0 36px 16px -24px rgba(18, 16, 24, 0.08);
    &__content {
        padding: 20px 23px 20px 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &__meta {
        margin-bottom: 8px;
        & span {
            display: inline-flex;
            align-items: center;
            font-size: 14px;
            color: #85838B;
            & svg {
                margin-right: 8px;
            }
        }
    }
    &__title {
        font-size: 30px;
        font-weight: 600;
    }
    &__amount {
        & label {
            color: var(--mh-gray-color);
            font-size: 15px;
            display: block;
            line-height: 1;
        }
        & span {
            font-weight: 600;
            font-size: 18px;
            letter-spacing: -0.02em;
            color: var(--mh-heading-color);
            display: block;
            line-height: 1;
            margin-top: 5px;
        }
    }
    &__textdown {
        & p {
            font-weight: 300;
            font-size: 24px;
            letter-spacing: -0.04em;
            font-family: var(--mh-heading-font);
            @media #{$xs} {
                font-size: 26px;
            }
            & a {
                font-weight: 600;
                color: var(--mh-heading-color);
                text-decoration: underline;
            }
        }
    }
}

.swiper.mhcauses-slider-active {
	margin-right: -580px;
    @media #{$lg} {
        margin-right: -830px;
    }
    @media #{$md} {
        margin-right: -350px;
    }
    @media #{$xs} {
        margin-right: 0px;
    }
    @media #{$sm} {
        margin-right: -290px;
    }
}

.mh-arrow {
    border: 1px solid rgba(18, 16, 24, 0.1);
    border-radius: 12px;
    width: 60px;
    height: 60px;
    &-prev {
        margin-right: 6px;
    }
}

.mhcharity {
    box-shadow: 0 36px 16px -24px rgba(22, 18, 5, 0.08);
    padding: 10px;
    transform: translateY(0);
    @include mh-transition();
    &-border {
        border: 1px solid rgba(18, 16, 24, 0.1);
    }
    &:hover {
        transform: translateY(-10px);
    }
    &-2 {
        box-shadow: 0 20px 40px 0 rgba(18, 16, 24, 0.08);
        border-radius: 20px;
        padding: 0;
        &:hover {
            transform: translateY(0);
        }
    }
    &__img {
        & img {
            border-radius: 12px 12px 0 0;
        }
        &--shape {
            bottom: 0;
            left: 0;
            width: 100%;
            height: 27px;
        }
    }
    &__title {
        font-size: 26px;
        color: var(--mh-primary-color);
        &-2 {
            font-size: 28px;
            letter-spacing: -0.02em;
            color: var(--mh-heading-color);
        }
    }
    &__content {
        padding: 0 20px;
        @media #{$md} {
            padding: 0 15px;
        }
        &-2 {
            padding: 30px 35px 35px;
        }
        & p {
            color: #5C6160;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 8px;
        }
    }
    &__amount {
        & span {
            display: inline-block;
            background: transparent;
            transform: inherit;
            font-size: 18px;
            color: #073d30;
            font-weight: 600;
            padding: 0;
            margin-bottom: 0;
            &:before {
                display: none;
            }
        }
        & label {
            display: inline-block;
            font-weight: 400;
            color: #8f9694;
            font-size: 16px;
        }
    }
    &__textdown {
        & p {
            font-size: 24px;
            line-height: 34px;
            letter-spacing: -0.04em;
            font-weight: 300;
            color: var(--mh-primary-color);
            & br {
                @media #{$xs} {
                    display: none;
                }
            }
        }
        & a {
            font-weight: 600;
            border-bottom: 1px solid rgba(7, 61, 48, 0.2);;
        }
        &-2 {
            & p {
                font-size: 20px;
                font-weight: 400;
                color: var(--mh-body-color);
            }
            & a {
                color: var(--mh-heading-color);
                text-decoration: underline;
                font-weight: 700;
                border-bottom: 0;
            }
        }
    }
    &__cat {
        & a {
            font-size: 11px;
            font-weight: 600;
            color: var(--mh-heading-color);
            display: inline-block;
            background-color: var(--mh-theme-color);
            line-height: 1;
            padding: 9px 24px;
            border-radius: 28px;
            text-transform: uppercase;
        }
    }
}

.mh-charity-shape {
    &-01 {
        top: 0;
        left: 0;
    }
    &-02 {
        top: 20%;
        left: 180px;
        @media #{$xxlml} {
            top: 10%;
            left: auto;
            right: 30%;
        }
        @media #{$md} {
            top: 8%;
            right: 28%;
            left: auto;
        }
    }
    &-03 {
        bottom: 217px;
        left: 0;
    }
    &-04 {
        bottom: 0;
        right: 0;
    }
}

.mh-custom-donate {
    &-shape {
        bottom: 0;
        right: 0;
        @media #{$lg} {
            bottom: 2px;
            right: 13px;
        }
    }
    &-bg {
        margin-right: -274px;
        border-radius: 20px 0 0 20px;
        @media #{$lg,$md,$xs} {
            margin-right: 0;
            border-radius: 0;
            background-size: cover;
        }
    }
    &-thumb {
        & img {
            max-width: inherit;
            margin-top: -42px;
            margin-left: -80px;
            @media #{$lg,$md,$xs} {
                margin-top: 0;
                margin-left: 0;
                max-width: 100%;
                margin-bottom: 40px;
            }
        }
    }
    &-circle {
        width: 400px;
        height: 400px;
        background-color: var(--mh-primary-color-3);
        border-radius: 50%;
        position: absolute;
        bottom: 68px;
        right: -40%;
        z-index: -1;
        @media #{$lg,$md,$xs} {
            right: 14%;
        }
        @media #{$xs} {
            width: 250px;
            height: 250px;
        }
    }
    &-wrapper {
        @media #{$lg,$md,$xs} {
            padding: 30px;
        }
        & .mh-section-title {
            font-size: 50px;
            & br {
                @media #{$md} {
                    display: block;
                }
            }
        }
    }
    &-content {
        font-size: 16px;
        color: rgba(18, 16, 24, 0.7);
        margin-bottom: 5px;
    }
    &-form {
        padding-right: 70px;
        @media #{$lg,$md} {
            padding-right: 40%;
        }
        @media #{$xs} {
            padding-right: 0;
        }
    }
    &-input {
        position: relative;
        & input {
            background-color: var(--mh-white-color);
            border-bottom: 0;
            border-radius: 12px;
            padding: 35px 50px;
            color: var(--mh-heading-color);
            font-size: 24px;
            @include mh-placeholder {
                font-size: 24px;
                color: rgba(18, 16, 24, 0.3);
            }
        }
        & label {
            font-size: 26px;
            font-weight: 700;
            color: var(--mh-heading-color);
            position: absolute;
            left: 24px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &-button {
        & button {
            border: 1px solid rgba(18, 16, 24, 0.1);
            border-radius: 6px;
            padding: 9px 15px;
            line-height: 1;
            font-size: 14px;
            font-weight: 600;
            color: var(--mh-heading-color);
            margin-right: 2px;
            margin-bottom: 10px;
            @include mh-transition();
            @media #{$xl} {
                padding-right: 20px;
            }
            &:hover {
                background-color: rgba(18, 16, 24, 0.06);;
            }
        }
    }
}

// Causes Details
.mh-causes {
    &-details {
        border: 1px solid rgba(18, 16, 24, 0.1);
        border-radius: 20px;
    }
    &-tabs {
        border-bottom: 1px solid rgba(18, 16, 24, 0.1);
        padding: 0 80px;
        & button {
            font-size: 20px;
            color: #000;
            font-family: var(--mh-heading-font-2);
            font-weight: 700;
            margin-right: 30px;
            padding-bottom: 15px;
            border-bottom: 3px solid transparent;
            &.active {
                border-color: var(--mh-secondary-color);
            }
        }
    }
    &-tab {
        &-content {
            & h3 {
                font-size: 36px;
                letter-spacing: -0.02em;
                font-family: var(--mh-heading-font-2);
            }
            & p {
                font-size: 16px;
                line-height: 26px;
            }
            &-main {
                padding: 0 80px;
                padding-bottom: 60px;
            }
            & iframe {
                width: 100%;
                height: auto;
                aspect-ratio: 16/9;
                display: block;
            }
        }
    }
    &-quote {
        display: flex;
        padding-left: 45px;
        padding-right: 75px;
        & svg {
            flex: 0 0 auto;
            margin-right: 28px;
        }
        & p {
            font-size: 26px;
            font-weight: 700;
            line-height: 1.3;
            color: var(--mh-primary-color-3);
            font-family: var(--mh-heading-font-2);
        }
    }
}

.mh-donation {
    &-notice {
        font-size: 14px;
        letter-spacing: 0;
        margin-bottom: 0;
        & span {
            background-color:  rgba(255, 207, 78, 0.4);
            display: inline-block;
            border-radius: 16px;
            font-weight: 600;
            color: var(--mh-heading-color);
            line-height: 1;
            padding: 5px 7px;
            margin-right: 8px;
            & i {
                font-size: 13px;
                font-weight: 600;
            }
        }
    }
    &-form {
        &-wrap {
            padding: 0 80px 30px;
        }
        &-title {
            font-size: 36px;
            letter-spacing: -0.02em;
            border-bottom: 1px solid rgba(18, 16, 24, 0.08);
            padding: 35px 80px 18px;
        }
        &-input {
            position: relative;
            & input {
                font-size: 20px;
                padding: 0 55px;
                width: 200px;
                font-weight: 400;
                border: 1px solid rgba(18, 16, 24, 0.1);
                border-radius: 12px;
                background-color: var(--mh-white-color);
                @include mh-placeholder {
                    color: #85838b;
                    font-size: 20px;
                }
            }
            & label {
                width: 34px;
                height: 34px;
                background-color: var(--mh-secondary-color);
                border-radius: 50%;
                font-size: 16px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: var(--mh-white-color);
                position: absolute;
                z-index: 55;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &-button {
            border-bottom: 1px solid rgba(18, 16, 24, 0.08);
            padding-bottom: 25px;
            & button {
                border: 1px solid rgba(18, 16, 24, 0.1);
                border-radius: 8px;
                font-size: 15px;
                font-weight: 500;
                line-height: 1;
                display: inline-block;
                padding: 9px 26px;
                margin-right: 3px;
                color: var(--mh-heading-color);
                &:hover {
                    border-color: var(--mh-heading-color);
                }
            }
        }
        &-radio {
            border-bottom: 1px solid rgba(18, 16, 24, 0.08);
            padding-bottom: 30px;
            &-title {
                font-size: 18px;
                font-family: var(--mh-body-font);
                letter-spacing: 0;
                font-weight: 600;
                margin-bottom: 20px;
            }
        }
        &-amount {
            font-size: 16px;
            color: #3c3a40;
            font-weight: 400;
            & span {
                color: var(--mh-secondary-color);
                font-weight: 600;
            }
        }
        &-social {
            & a {
                width: 40px;
                height: 40px;
                background-color: #F6F6F6;
                border-radius: 50%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-top: 5px;
            }
            &-text {
                margin-left: 55px;
                & span {
                    font-size: 14px;
                    font-weight: 600;
                    color: #85838B;
                    text-align: left;
                }
            }
        }
    }
    &-offline {
        & p {
            font-size: 16px;
        }
        & ol {
            padding-left: 20px;
            & li {
                font-size: 16px;
            }
        }
    }
}

