@use '../../utils' as *;

.mhcauses {
    padding: 15px;
    box-shadow: 0 36px 16px -24px rgba(18, 16, 24, 0.08);
    &__content {
        padding: 20px 23px 20px 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &__meta {
        margin-bottom: 8px;
        & span {
            display: inline-flex;
            align-items: center;
            font-size: 14px;
            color: #85838B;
            & svg {
                margin-right: 8px;
            }
        }
    }
    &__title {
        font-size: 30px;
        font-weight: 600;
    }
    &__amount {
        & label {
            color: var(--mh-gray-color);
            font-size: 15px;
            display: block;
            line-height: 1;
        }
        & span {
            font-weight: 600;
            font-size: 18px;
            letter-spacing: -0.02em;
            color: var(--mh-heading-color);
            display: block;
            line-height: 1;
            margin-top: 5px;
        }
    }
    &__textdown {
        & p {
            font-weight: 300;
            font-size: 24px;
            letter-spacing: -0.04em;
            font-family: var(--mh-heading-font);
            @media #{$xs} {
                font-size: 26px;
            }
            & a {
                font-weight: 600;
                color: var(--mh-heading-color);
                text-decoration: underline;
            }
        }
    }
}

.swiper.mhcauses-slider-active {
	margin-right: -580px;
    @media #{$lg} {
        margin-right: -830px;
    }
    @media #{$md} {
        margin-right: -350px;
    }
    @media #{$xs} {
        margin-right: 0px;
    }
    @media #{$sm} {
        margin-right: -290px;
    }
}

.mh-arrow {
    border: 1px solid rgba(18, 16, 24, 0.1);
    border-radius: 12px;
    width: 60px;
    height: 60px;
    &-prev {
        margin-right: 6px;
    }
}

.mhcharity {
    box-shadow: 0 36px 16px -24px rgba(22, 18, 5, 0.08);
    padding: 10px;
    transform: translateY(0);
    @include mh-transition();
    &:hover {
        transform: translateY(-10px);
    }
    &-2 {
        box-shadow: 0 20px 40px 0 rgba(18, 16, 24, 0.08);
        border-radius: 20px;
        padding: 0;
        &:hover {
            transform: translateY(0);
        }
    }
    &__img {
        & img {
            border-radius: 12px 12px 0 0;
        }
        &--shape {
            bottom: 0;
            left: 0;
            min-height: 27px;
        }
    }
    &__title {
        font-size: 26px;
        color: var(--mh-primary-color);
        &-2 {
            font-size: 28px;
            letter-spacing: -0.02em;
            color: var(--mh-heading-color);
        }
    }
    &__content {
        &-2 {
            padding: 30px 35px 35px;
        }
        padding: 0 30px;
        & p {
            color: #5C6160;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 8px;
        }
    }
    &__amount {
        & span {
            display: inline-block;
            background: transparent;
            transform: inherit;
            font-size: 18px;
            color: #073d30;
            font-weight: 600;
            padding: 0;
            margin-bottom: 0;
            &:before {
                display: none;
            }
        }
        & label {
            display: inline-block;
            font-weight: 400;
            color: #8f9694;
            font-size: 16px;
        }
    }
    &__textdown {
        & p {
            font-size: 24px;
            line-height: 34px;
            letter-spacing: -0.04em;
            font-weight: 300;
            color: var(--mh-primary-color);
        }
        & a {
            font-weight: 600;
            border-bottom: 1px solid rgba(7, 61, 48, 0.2);;
        }
        &-2 {
            & p {
                font-size: 20px;
                font-weight: 400;
                color: var(--mh-body-color);
            }
            & a {
                color: var(--mh-heading-color);
                text-decoration: underline;
                font-weight: 700;
                border-bottom: 0;
            }
        }
    }
    &__cat {
        & a {
            font-size: 11px;
            font-weight: 600;
            color: var(--mh-heading-color);
            display: inline-block;
            background-color: var(--mh-theme-color);
            line-height: 1;
            padding: 9px 24px;
            border-radius: 28px;
            text-transform: uppercase;
        }
    }
}

.mh-charity-shape {
    &-01 {
        top: 0;
        left: 0;
    }
    &-02 {
        top: 20%;
        left: 180px;
    }
    &-03 {
        bottom: 217px;
        left: 0;
    }
    &-04 {
        bottom: 0;
        right: 0;
    }
}