@use '../../utils' as *;

.mh-cta {
    &-2 {
        @media #{$xs} {
            min-height: 560px;
        }
        @media #{$sm} {
            min-height: 630px;
        }
    }
    &-area {
        @media #{$xs} {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    &-padding {
        padding-top: 38px;
        padding-left: 34px;
        padding-right: 40px;
        &-2 {
            padding: 50px 40px 0;
        }
    }
    &-img {
        right: 40px;
        bottom: 0;
        @media #{$xxlml,$lg} {
            right: -50px;
        }
        @media #{$xs} {
            right: -50px;
            bottom: 0;
        }
        & img {
            width: 100%;
            @media #{$xxlml,$lg,$xs} {
                width: 80%;
            }
        }
        &-2 {
            right: 0;
            left: 0;
            bottom: 0;
            mix-blend-mode: luminosity;
            & img {
                width: 100%;
            }
        }
    }
    &-border-radious {
        border-radius: 20px 0 0 20px;
        @media #{$md,$xs,$xl,$lg} {
            border-radius: 0;
        }
    }
    &-p {
        & br {
            @media #{$xxlm} {
                display: none;
            } 
        }
    }
}

.mh-help {
    &-top {
       @media #{$xxll} {
            padding: 35px;
        } 
       @media #{$xxlm} {
            padding: 20px;
        }
        @media #{$xs} {
            padding: 30px;
        } 
    }
    &-list {
        @media #{$xxll,$xxlm,$xl} {
            padding-right: 0;
        }
        &-item {
            margin-bottom: 14px;
            & span {
                width: 26px;
                height: 26px;
                background-color: rgba(248, 243, 231, 0.1);
                display: inline-block;
                color: #f8f3e7;
                text-align: center;
                border-radius: 50%;
                font-size: 12px;
                margin-right: 8px;
            }
            & p {
                color: #F8F3E7;
                margin-bottom: 0;
                @media #{$xxlm} {
                    font-size: 17px;
                } 
            }
        }
    }
    &-amount {
        & label {
            color: #F8F3E7;
            font-weight: 300;
            font-size: 20px;
            font-family: var(--mh-heading-font);
        }
        & span {
            color: #F8F3E7;
            font-weight: 600;
            font-size: 20px;
            font-family: var(--mh-heading-font);
        }
    }
    &-btn {
        width: 100%;
        padding: 21px 50px;
        border-radius: 0 0 12px 0;
        font-size: 18px;
        &:hover {
            background-color: var(--mh-white-color);
            color: var(--mh-primary-color);
        }
        & svg {
            margin-right: 5px;
        }
    }
    &-bottom {
        padding: 0 14px 14px;
        margin-top: 34px;
    }
    &-border-radious {
        border-radius: 0 20px 20px 0;
        @media #{$md,$xs,$xl,$lg} {
            border-radius: 0;
        }
    }
}