@use '../../utils' as *;

/* 3.11 Fact */

.mh-fact {
    &-item {
        @media #{$lg} {
            width: 50%;
        }
        &-2 {
            & h4 {
                letter-spacing: -0.02em;
            }
        }
    }
    &-border {
        border-left: 2px solid var(--mh-theme-color);
        &-2 {
            border-right: 1px solid rgba(255, 255, 255, 0.1);
            padding: 22px 0;
            @media #{$lg} {
                width: auto;
            }
            @media #{$md,$xs} {
                border-right: 0;
            }
        }
    }
    & p {
        max-width: 220px;
        margin-top: 8px;
        margin-bottom: 0;
        font-family: var(--mh-heading-font);
        font-weight: 300;
        color: #454449;
    }
} 