@use '../../utils' as *;

.mh-fact {
    &-item {
        @media #{$lg} {
            width: 50%;
        }
    }
    &-border {
        border-left: 2px solid var(--mh-theme-color);
    }
    & p {
        max-width: 220px;
        margin-top: 8px;
        margin-bottom: 0;
    }
} 