@use '../../utils' as *;

/* 3.5 Hero */

.mh-hero {
    @media #{$md,$xs} {
        position: relative;
        z-index: 2;
    }
    &-area {
        padding: 280px 0 350px;
        background-size: cover;
        @media #{$xs} {
            padding-bottom: 280px;
        }
        &-2 {
            padding-top: 245px;
            padding-bottom: 190px;
            @media #{$xs} {
                padding-top: 180px;
                padding-bottom: 80px;
            }
        }
    }
    &-btn-2 {
        & .mh-btn {
            &:hover {
                background-color: var(--mh-secondary-color);
                color: var(--mh-white-color);
            }
        }
    }
    &-sub-title {
        color: var(--mh-theme-color);
        font-family: var(--mh-sub-heading-font);
        font-size: 50px;
        line-height: 1.2;
        font-weight: 400;
        @media #{$xs} {
            font-size: 30px;
            line-height: 1;
        }
    }
    &-title {
        font-size: 120px;
        color: var(--mh-white-color);
        letter-spacing: -0.03em;
        margin-top: 10px;
        @media #{$lg,$md} {
            font-size: 92px;
            letter-spacing: -0.02em;
        }
        @media #{$xs} {
            font-size: 50px;
            letter-spacing: -0.01em;
        }
        &-2 {
            font-size: 100px;
            color: var(--mh-off-white-color-2);
            letter-spacing: -0.02em;
            padding-right: 50px;
            @media #{$xs} {
                font-size: 45px;
                padding-right: 0;
                letter-spacing: -0.01em;
            }
        }
    }
    &-video {
        margin-right: -7px;
        & a {
            width: 90px;
            height: 90px;
            background-color: rgba(255, 255, 255, 0.06);
            border-radius: 50%;
            display: inline-block;
            border: 1px solid var(--mh-white-color);
            box-shadow: 0 0 30px 0 rgba(17, 17, 45, 0.1);
            backdrop-filter: blur(5px);
            line-height: 104px;
            text-align: center;
            color: var(--mh-white-color);
            &:hover {
                background-color: var(--mh-white-color);
                color: var(--mh-primary-color-2);
            }
        }
    }
    &-shape {
        &-01 {
            left: 161px;
            top: 34%;
            @media #{$xxlml} {
                left: 5%;
                top: 12%;
            }
            @media #{$xl,$lg,$md,$xs} {
                left: auto;
                top: 15%;
                right: 20%;
            }
        }
        &-02 {
            bottom: 22%;
            left: 116px;
        }
        &-03 {
            bottom: 0;
            left: 0;
        }
    }
    &-2 {
        & p {
            font-size: 24px;
            color: var(--mh-off-white-color-2);
            @media #{$xs} {
                font-size: 20px;
            }
        }
        &-shape {
            &-1 {
                top: -50px;
                left: -70px;
            }
            &-2 {
                bottom: 120px;
                left: 42%;
                @media #{$xxll} {
                    left: 40%;
                }
            }
            &-3 {
                bottom: 0;
                left: 0;
                z-index: 2;
            }
        }
    }
    &-mask {
        height: 100%;
        width: 100%;
        -webkit-mask-image: url(../img/mask/hero-mask.png);
        mask-image: url(../img/mask/hero-mask.png);
        @media #{$md,$xs} {
            mask-image: inherit;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: var(--mh-primary-color);
                left: 0;
                top: 0;
                opacity: .5;
            }
        }
        &-wrap {
            position: absolute;
            right: 0;
            top: 0;
            width: 920px;
            height: 100%;
            @media #{$xxlml} {
                width: 700px;
            }
            @media #{$xl} {
                width: 600px;
            }
            @media #{$lg} {
                width: 430px;
            }
        }
        & img {
            height: 100%;
            object-fit: cover;
        }
        &-line {
            position: absolute;
            bottom: 0;
            left: -4px;
            transform-origin: left bottom;
            transform: rotate(8.4deg);
        }
    } 
}