@use '../../utils' as *;

/* 3.16 Join */

.mh-join {
    &-number {
        font-size: 150px;
        letter-spacing: -0.04em;
        color: var(--mh-primary-color);
        line-height: 1;
        @media #{$xs} {
            font-size: 85px;
        }
    }
    &-down {
        & h4 {
            font-size: 26px;
            font-weight: 300;
            letter-spacing: -0.02em;
            color: var(--mh-primary-color);
        }
        & .mh-btn {
            &:hover {
                background-color: var(--mh-primary-color);
                color: var(--mh-white-color);
            }
        }
        
    }
    &-shape {
        &-01 {
            left: -55px;
            top: 16%;
            border-radius: 90px;
            box-shadow: 0 20px 40px 0 rgba(92, 97, 96, 0.2);
            @media #{$xl} {
                left: -15px;
            }
            @media #{$lg} {
                left: -5px;
                top: 25%;
            }
        }
        &-02 {
            right: -60px;
            top: 25%;
            border-radius: 50%;
            box-shadow: 0 20px 40px 0 rgba(92, 97, 96, 0.2);
            @media #{$xl} {
                right: -10px;
            }
            @media #{$lg} {
                right: -5px;
            }
        }
        &-03 {
            left: 13%;
            bottom: -6%;
            border-radius: 50%;
            box-shadow: 0 20px 40px 0 rgba(92, 97, 96, 0.2);
            @media #{$md} {
                left: 0;
            }
        }
        &-04 {
            right: 8%;
            bottom: -9%;
            border-radius: 150px;
            box-shadow: 0 20px 40px 0 rgba(92, 97, 96, 0.2);
            @media #{$md} {
                right: 0;
            }
        }
    }
    &-bg-shape {
        &-01 {
            width: 300px;
            height: 300px;
            background-color: var(--mh-theme-color);
            border-radius: 50%;
            opacity: .4;
            filter: blur(300px);
            top: 0;
            right: -20px;
            z-index: -1;
        }
        &-02 {
            width: 250px;
            height: 250px;
            background-color: var(--mh-pink-color);
            border-radius: 50%;
            opacity: .4;
            filter: blur(300px);
            bottom: -50px;
            left: 20px;
            z-index: -1;
        }
    }
}