@use '../../utils/' as *;

.mhservice {
    padding:48px 15px 44px;
    border-radius: 16px 16px 0 0;
    border-bottom: 4px solid #f55;
    @include mh-transition();
    &-style {
        &-2 {
            & .mhservice__title {
                &:hover {
                    color: #36e0d1;
                }
            }
            & .mh-btn-text {
                &:hover {
                    color: #36e0d1;
                }
            }
        }
        &-3 {
            & .mhservice__title {
                &:hover {
                    color: #EFCB4A;
                }
            }
            & .mh-btn-text {
                &:hover {
                    color: #EFCB4A;
                }
            }
        }
        &-4 {
            & .mhservice__title {
                &:hover {
                    color: #b855ff;
                }
            }
            & .mh-btn-text {
                &:hover {
                    color: #b855ff;
                }
            }
        }
    }
    &-2 {
        padding: 50px 40px;
        border-radius: 20px;
        @media #{$sm} {
            padding: 30px;
        }
    }
    &-margin {
        margin-top: -150px;
    }
    &__title {
        font-size: 24px;
        letter-spacing: -0.02em;
        &:hover {
            color: #f55;
        }
        &-2 {
            font-size: 26px;
            margin-bottom: 12px;
            @media #{$sm} {
                font-size: 24px;
            }
        }
    }
    &__content {
        &-2 {
            & p {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;
            }
        }
    }
    &:hover {
        box-shadow: 0 20px 60px 0 rgba(41, 28, 3, 0.1);
        transform: translateY(-10px);
    }
}

.mh-bottom-quote {
    & img {
        margin-right: 14px;
    }
    & p {
        font-size: 24px;
        color: var(--mh-primary-color);
        margin-bottom: 0;
        letter-spacing: -0.04em;
        font-family: var(--mh-heading-font);
        & a {
            font-weight: 600;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &-2 {
        & p {
            font-size: 20px;
            letter-spacing: -0.02em;
            color: var(--mh-heading-color);
            font-family: var(--mh-heading-font-2);
            & a {
                color: var(--mh-primary-color-3);
            }
        }
    }
}

.mh-volunteer-shape {
    &-01 {
        display: inline-block;
        transform: translateX(110px);
        & svg {
            position: absolute;
            top: -7px;
            right: -12px;
        }
    }
    &-02 {
        margin-top: 160px;
        display: inline-block;
        transform: translateX(-55px);
        & svg {
            position: absolute;
            left: -12px;
            top: -7px;
        }
    }
}

.mhsv {
    background-color: #EEFCEB;
    padding: 35px 40px;
    border-radius: 20px;
    @media #{$lg} {
        padding: 30px 24px;
    }
    &__title {
        font-size: 24px;
        letter-spacing: -0.02em;
        color: var(--mh-primary-color-3);
    }
    & p {
        color: var(--mh-primary-color-3);
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
    }
}