@use '../../utils' as *;

/* 3.4 Slider */

.mh-slider {
    &-item {
        padding-top: 200px;
        padding-bottom: 240px;
        position: relative;
        z-index: 2;
        @media #{$xl} {
            padding-top: 180px;
            padding-bottom: 220px;
        }
        @media #{$xs} {
            padding-top: 100px;
            padding-bottom: 115px;
        }
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #000;
            left: 0;
            top: 0;
            opacity: .4;
            z-index: -1;
        }
    }
    &-subtitle {
        font-size: 24px;
        font-weight: 600;
        color: var(--mh-theme-color);
        display: inline-block;
        position: relative;
        @media #{$xs} {
            font-size: 16px;
        }
        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 70px;
            height: 1px;
            background-color: var(--mh-theme-color);
            top: 50%;
            @media #{$xs} {
                width: 30px;
            }
        }
        &:before {
            left: -90px;
            @media #{$xs} {
                left: -40px;
            }
        }
        &:after {
            right: -90px;
            @media #{$xs} {
                right: -40px;
            }
        }
    }
    &-title {
        font-size: 100px;
        letter-spacing: -0.02em;
        color: var(--mh-white-color);
        line-height: 1.1;
        @media #{$xl,$lg} {
            font-size: 75px;
        }
        @media #{$md} {
            font-size: 55px;
        }
        @media #{$xs} {
            font-size: 35px;
        }
    }
    &-arrow {
        position: absolute;
        left: 64px;
        top: 50%;
        transform: translateY(-50%);
        width: 54px;
        height: 54px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        z-index: 44;
        color: var(--mh-white-color);
        font-size: 12px;
        &:hover {
            background-color: var(--mh-secondary-color);
        }
        &-next {
            left: auto;
            right: 64px;
        }
    }
}


.mh-slider-subtitle {
	transform: translateY(20px);
    opacity: 0;
    transition: .5s;
}
.mh-slider-title {
	transform: translateY(30px);
    opacity: 0;
    transition: .5s;
}
.mh-slider-btn {
	transform: translateY(30px);
    opacity: 0;
    transition: .5s;
}

.swiper-slide-active .mh-slider-subtitle {
    transition-delay: .6s;
}
.swiper-slide-active .mh-slider-title {
    transition-delay: .9s;
}
.swiper-slide-active .mh-slider-btn {
    transition-delay: 1.3s;
}

.swiper-slide-active .mh-slider-subtitle,
.swiper-slide-active .mh-slider-title,
.swiper-slide-active .mh-slider-btn {
    opacity: 1;
    transform: translateY(0);
}
