@use '../../utils' as *;

.mhteam {
    &__img {
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(180deg, rgba(7, 4, 16, 0) 60.71%, #070410 99.3%);
            left: 0;
            top: 0;
            border-radius: 20px;
        }
    }
    &__content {
        left: 0;
        bottom: 40px;
        right: 0;
        text-align: center;
        & span {
            color: var(--mh-white-color);
            font-weight: 600;
            font-size: 16px;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 26px;
        letter-spacing: -0.02em;
        color: var(--mh-white-color);
        margin-bottom: 5px;
    }
    &__social {
        right: 20px;
        top: 20px;
        visibility: hidden;
        opacity: 0;
        @include mh-transition();
        & a {
            width: 36px;
            height: 36px;
            background-color: var(--mh-white-color);
            display: inline-block;
            border-radius: 50%;
            line-height: 36px;
            text-align: center;
            margin-bottom: 3px;
            transition: .3s;
        }
    }
    &:hover .mhteam__social {
        visibility: visible;
        opacity: 1;
    }
}

.mhteamcard {
    &__shape {
        bottom: 0;
        left: 0;
        width: 100%;
        & img {
            height: 23px;
        }
    }
    &__img {
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(180deg, rgba(18, 16, 24, 0) 38.28%, #121018 100%);
            border-radius: 20px;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            @include mh-transition();
        }
        & img {
            border-radius: 20px;
        }
        &:hover {
            &:before {
                opacity: 1;
                visibility: visible;
            }
            & .mhteamcard__social {
                visibility: visible;
                opacity: 1;
                bottom: 42px;
            }
        }
    }
    &__social {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 60px;
        text-align: center;
        @include mh-transition();
        opacity: 0;
        visibility: hidden;
        & a {
            width: 42px;
            height: 42px;
            display: inline-block;
            background-color: var(--mh-white-color);
            line-height: 42px;
            text-align: center;
            border-radius: 50%;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 26px;
        letter-spacing: -0.02em;
        color: var(--mh-primary-color);
        margin-bottom: 8px;
    }
    &__content {
        & span {
            font-weight: 300;
            font-size: 16px;
            color: var(--mh-primary-color);
        }
    }
}

.mhteam {
    &-banner {
        border-radius: 20px;
        & img {
            border-radius: 20px 20px 0 0;
            @media #{$lg} {
                display: none;
            }
        }
        &-content {
            padding: 0 27px 60px;
            margin-top: 15px;
            @media #{$lg} {
                padding: 30px 27px 40px;
            }
            & p {
                font-size: 16px;
                line-height: 24px;
                color: var(--mh-primary-color);
            }
        }
        &-title {
            font-weight: 600;
            font-size: 30px;
            line-height: 34px;
            letter-spacing: -0.02em;
            color: var(--mh-primary-color);
            margin-bottom: 14px;
        }
    }
}

.mh-bottom-quote-team {
    margin-top: -60px;
    @media #{$md} {
        margin-top: 25px;
    }
    @media #{$xs} {
        margin-top: 40px;
    }
    & p {
        font-weight: 300;
        letter-spacing: -0.02em;
        & a {
            border-bottom: 1px solid rgba(7, 61, 48, 0.2);;
        }
    }
}

.mh-sm-team {
    border: 1px solid rgba(18, 16, 24, 0.1);
    border-radius: 20px;
    padding: 45px 30px 40px;
    @include mh-transition();
    &:hover {
        border: 1px solid #f45927;
        box-shadow: 0 1px 2px 0 rgba(146, 40, 5, 0.16);
    }
    &-thumb {
        & img {
            border-radius: 50%;
        }
    }
    &-content {
        & span {
            font-size: 16px;
        }
    }
    &-title {
        letter-spacing: -0.02em;
        font-size: 20px;
    }
    &-social {
        & a {
            width: 40px;
            height: 40px;
            background-color: transparent;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            & svg {
                width: 18px;
                height: 18px;
                display: inline-block;
            }
        }
    }
}