@use '../utils' as *;

.mh-breadcrumb {
    &-bg {
        background-size: cover;
        position: relative;
        z-index: 2;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            left: 0;
            top: 0;
            z-index: -1;
        }
        &-2 {
            padding-top: 240px;
            padding-bottom: 185px;
        }
    }
    &-title {
        font-size: 84px;
        letter-spacing: -0.02em;
        color: var(--mh-white-color);
    }
    &-list {
        & span {
            font-size: 18px;
            letter-spacing: -0.02em;
            color: rgba(255, 255, 255, 0.8);
            font-weight: 500;
        }
        & .active {
            color: var(--mh-theme-color);
        }
    }
    &-shape {
        &-01 {
            left: 7%;
            top: 35%;
            color: rgba(255, 255, 255, 0.4);
        }
        &-down {
            left: 0;
            bottom: 0;
        }
    }

}