@use '../utils/' as *;

.mh-btn {
	background-color: var(--mh-theme-color);
	display: inline-block;
	line-height: 1;
	padding: 22px 34px;
    color: var(--mh-primary-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    text-transform: capitalize;
    &:hover {
        background-color: var(--mh-primary-color-2);
        color: var(--mh-white-color);
    }
    &-2 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 21px 34px;
        color: #0B4030;
        & svg {
            margin-right: 8px;
        }
    }
    &-white {
        background-color: var(--mh-white-color);
        color: var(--mh-heading-color);
    }
    &-text {
        font-size: 15px;
        &:hover {
            color: #f55;
        }
        &-icon {
            font-size: 16px;
            color: var(--mh-heading-color);
            font-weight: 600;
            &:hover {
                text-decoration: underline;
                & svg {
                    transform: rotate(45deg);
                }
            }
            & svg {
                margin-left: 8px;
                transform: rotate(0);
                transition: .3s;
            }
        }
    }
    &-border {
        padding: 7px 27px ;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid var(--mh-primary-color);
        color: var(--mh-primary-color);
        display: inline-block;
        &:hover {
            background-color: var(--mh-primary-color-2);
            color: var(--mh-white-color);
            border-color: var(--mh-primary-color-2);
        }
    }
    &-sm {
        background-color: var(--mh-primary-color);
        color: var(--mh-white-color);
        font-size: 16px;
        font-weight: 600;
        display: inline-block;
        line-height: 1;
        padding: 12px 24px;
        border-radius: 8px;
        &:hover {
            background-color: var(--mh-theme-color);
            color: var(--mh-primary-color);
        }
        &-theme {
            background-color: var(--mh-theme-color);
            color: var(--mh-primary-color);
            &:hover {
                background-color: var(--mh-secondary-color);
                color: var(--mh-white-color);
            }
        }
    }
    &-full {
        background-color: var(--mh-off-white-color-2);
        display: inline-block;
        padding: 17px 10px;
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        color: var(--mh-primary-color);
        border-radius: 12px;
        line-height: 1;
        &:hover {
            background-color: var(--mh-primary-color);
            color: var(--mh-white-color);
        }
        &-red {
            background-color: var(--mh-secondary-color);
            color: var(--mh-white-color);
        }
        &-green {
            background-color: var(--mh-primary-color-3);
            color: var(--mh-white-color);
        }
    }
    &-primary {
        background-color: var(--mh-primary-color);
        color: var(--mh-white-color);
        display: inline-block;
        &:hover {
            background-color: var(--mh-secondary-color);
        }
    }
    &-red {
        background-color: var(--mh-secondary-color);
        color: var(--mh-white-color);
        display: inline-block;
        line-height: 1;
        padding: 12px 23px;
        border-radius: 30px;
        text-transform: uppercase;
        letter-spacing: -0.01em;
        font-size: 14px;
        font-weight: 600;
        &:hover {
            background-color: var(--mh-theme-color);
            color: #222;
        }
        &-xl {
            background-color: var(--mh-secondary-color);
            letter-spacing: -0.01em;
            text-transform: uppercase;
            color: var(--mh-white-color);
            padding: 22px 45px;
            &:hover {
                background-color: var(--mh-theme-color);
                color: #222;
            }
        }
        &-sm {
            padding: 19px 50px;
        }
        &-yellow {
            color: var(--mh-heading-color);
            background-color: var(--mh-theme-color);
            padding: 17px 30px;
        }
    }
}
