@use '../utils/' as *;

.mh-btn {
	background-color: var(--mh-theme-color);
	display: inline-block;
	line-height: 1;
	padding: 22px 34px;
    color: var(--mh-primary-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    text-transform: capitalize;
    & svg {
        margin-right: 5px;
    }
    &-white {
        background-color: var(--mh-white-color);
        color: var(--mh-heading-color);
    }
    &-text {
        font-size: 15px;
        &-icon {
            font-size: 16px;
            color: var(--mh-heading-color);
            font-weight: 600;
            & svg {
                margin-left: 8px;
            }
        }
    }
    &-border {
        padding: 7px 27px ;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid var(--mh-primary-color);
        color: var(--mh-primary-color);
        display: inline-block;
    }
    &-sm {
        background-color: var(--mh-primary-color);
        color: var(--mh-white-color);
        font-size: 16px;
        font-weight: 600;
        display: inline-block;
        line-height: 1;
        padding: 12px 24px;
        border-radius: 8px;
        &-theme {
            background-color: var(--mh-theme-color);
            color: var(--mh-primary-color);
        }
    }
    &-full {
        background-color: var(--mh-off-white-color-2);
        display: inline-block;
        padding: 17px 10px;
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        color: var(--mh-primary-color);
        border-radius: 12px;
        line-height: 1;
        &-red {
            background-color: var(--mh-secondary-color);
            color: var(--mh-white-color);
        }
    }
    &-primary {
        background-color: var(--mh-primary-color);
        color: var(--mh-white-color);
        display: inline-block;
    }
    &-red {
        background-color: var(--mh-secondary-color);
        color: var(--mh-white-color);
        display: inline-block;
        line-height: 1;
        padding: 12px 23px;
        border-radius: 30px;
        text-transform: uppercase;
        letter-spacing: -0.01em;
        font-size: 14px;
        font-weight: 600;
        &-xl {
            background-color: var(--mh-secondary-color);
            letter-spacing: -0.01em;
            text-transform: uppercase;
            color: var(--mh-white-color);
            padding: 22px 45px;
        }
        &-sm {
            padding: 19px 50px;
        }
    }
}

.mh-help-btn {
    width: 100%;
    padding: 21px 50px;
    border-radius: 0 0 12px 0;
    font-size: 18px;
    & svg {
        margin-right: 5px;
    }
}
