@use '../utils/' as *;

/* 2.9 Custom Animation */

.mhFadeInUp {
    opacity: 0;
    animation: fadeInUp 2s ease-out forwards;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mhFadeInLeft {
    opacity: 0;
    animation: fadeInLeft 2s ease-out forwards;
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mhFadeInRight {
    opacity: 0;
    animation: fadeInRight 2s ease-out forwards;
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

// .mhFadeInDown {
//     animation: mhFadeInDown 1s ease-out forwards;
// }

@keyframes mhFadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}