@use '../utils' as *;


.mh-radio-wrap {
    display: flex;
    flex-wrap: wrap;
}
.mh-radio-check {
    display: flex;
    align-items: center;
    gap: 8px;
    & label {
        margin-right: 10px;
    }
}
/* Custom radio button */
.custom-radio {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(18, 16, 24, 0.1);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    &:checked {
        border-color: var(--mh-secondary-color);
        &:before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--mh-secondary-color);
            border-radius: 50%;
        }
    }
}
