@use '../utils' as *;

.mh-pagination {
    & ul {
        list-style: none;
        & li {
            display: inline-block;
            & a {
                width: 50px;
                height: 50px;
                color: #5A5860;
                background-color: transparent;
                display: inline-block;
                line-height: 50px;
                text-align: center;
                border-radius: 50%;
                font-size: 14px;
                font-weight: 500;
                @include mh-transition();
            }
            &.current, &:hover {
                & a {
                    background-color: var(--mh-secondary-color);
                    color: var(--mh-white-color);
                }
            }
        }
    }
    &-2 {
        & ul {
            & li {
                &.current, &:hover {
                    & a {
                        background-color: var(--mh-primary-color-3);
                    }
                }
            }
        }
    }
}