@use '../utils/' as *;

.mh-section {
    &-info {
        &-mb {
            @media #{$lg,$md,$xs} {
                margin-bottom: 30px;
            }
        }
        & P {
            & br {
                @media #{$xs}{
                    display: none;
                }
            }
        }
    }
    &-sub-title {
        font-size: 30px;
        color: var(--mh-pink-color);
        display: block;
        & samp {
            height: 1px;
            width: 60px;
            background-color: var(--mh-secondary-color);
            display: inline-block;
            transform: translateY(-3px);
        }
    }
    &-title {
        font-size: 60px;
        @media #{$lg} {
            font-size: 45px;
        }
        @media #{$md} {
            font-size: 42px;
        }
        @media #{$xs} {
            font-size: 35px;
            line-height: 1.2;
        }
        & br {
            @media #{$md,$xs} {
                display: none;
            }
        }
        &-2 {
            & span {
                text-decoration: underline;
                text-decoration-style: wavy;
            }
            & br {
            @media #{$md} {
                display: block;
            }
        }
        }
    }
    &-paragraph {
        color: #5A5860;
    }
    &-back-title {
        font-size: 280px;
        background-image: linear-gradient(179.5deg, #E0DEDA 39.13%, #F2F0EC 104.12%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: 600;
        bottom: 46px;
        left: -5px;
        @media #{$lg} {
            font-size: 250px;
            bottom: 10px;
        }
        @media #{$md} {
            font-size: 190px;
            bottom: 10px;
        }
        @media #{$xs} {
            font-size: 180px;
        }
        @media #{$sm} {
            bottom: 0;
        }
        &-2 {
            bottom: -45px;
        }
    }
    &-info {
        &-space {
            margin-left: 85px;
            @media #{$lg,$md,$xs} {
                margin-left: 0;
            }
            & p {
                margin-bottom: 0;
            }
        }
        &-2 {
            & p {
                padding-right: 55px;
            }
        }
    }
}