@use '../utils' as *;

/* 2.4 Tab */

.mh-nav-tabs {
    border: 1px solid rgba(18, 16, 24, 0.1);
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    & button {
        width: 33.33%;
        letter-spacing: -0.02em;
        font-weight: 500;
        font-size: 16px;
        color: var(--mh-body-color);
        padding: 11px 0;
        border-radius: 12px;
        @media #{$xs} {
            width: 100%;
        }
        &.active {
            background-color: var(--mh-theme-color);
            color: var(--mh-heading-color);
        }
    }
}
.mh-tab-img {
    @media #{$md,$xs} {
        padding-left: 0;
    }
}