@use '../utils' as *;

.w-img{
	& img{
		width: 100%;
	}
}
.m-img{
	& img{
		max-width: 100%;
	}
}
img{
	max-width: 100%;
}

.fix {
    overflow:hidden
}
.clear{
    clear: both;
}

.z-index-1{
	z-index: 1;
}
.z-index-2{
	z-index: 2;
}
.z-index-3{
	z-index: 3;
}
.z-index-4{
	z-index: 4;
}
.z-index-11{
	z-index: 11;
}
.z-index-n1 {
    z-index: -1;
}
.z-index-n2 {
    z-index: -2;
}
.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.overflow-x-visible{
	overflow-x: visible;
	overflow-y: hidden;
}

.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}

// bg color
.mh-white-bg {
	background-color: var(--mh-white-color);
}
.mh-off-white-bg {
	background-color: var(--mh-off-white-color);
}

// font family
.mh-sub-font, .mh-sf {
	font-family: var(--mh-sub-heading-font);
}

.mh-h-630 {
	min-height: 630px;
}
