@use '../utils' as *;

.w-img{
	& img{
		width: 100%;
	}
}
.m-img{
	& img{
		max-width: 100%;
	}
}
img{
	max-width: 100%;
}

.fix {
    overflow:hidden
}
.clear{
    clear: both;
}

.z-index-1{
	z-index: 1;
}
.z-index-2{
	z-index: 2;
}
.z-index-3{
	z-index: 3;
}
.z-index-4{
	z-index: 4;
}
.z-index-11{
	z-index: 11;
}
.z-index-n1 {
    z-index: -1;
}
.z-index-n2 {
    z-index: -2;
}
.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.overflow-x-visible{
	overflow-x: visible;
	overflow-y: hidden;
}

.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}

// bg color
.mh-white-bg {
	background-color: var(--mh-white-color);
}
.mh-off-white-bg {
	background-color: var(--mh-off-white-color);
}
.mh-off-white-bg-2 {
	background-color: var(--mh-off-white-color-2);
}
.mh-theme-bg {
	background-color: var(--mh-theme-color);
}


// color
.mh-white {
	color: var(--mh-white-color);
}

// font family
.mh-heading-font, .mh-hf {
	font-family: var(--mh-heading-font);
}
.mh-heading-font-2, .mh-hf-2 {
	font-family: var(--mh-heading-font-2);
}
.mh-sub-font, .mh-sf {
	font-family: var(--mh-sub-heading-font);
}
.mh-sub-font-2, .mh-sf-2 {
	font-family: var(--mh-sub-heading-font-2);
}

// Height
.mh-h-630 {
	min-height: 630px;
}

// line height
.lh {
	&-1-1 {
		line-height: 1.1;
	}
	&-1-2 {
		line-height: 1.2;
	}
}

// container
.container {
	&-1400 {
		max-width: 1400px;
		margin: auto;
		padding: 0 12px;
	}
}
.mh-row {
	margin: 0 -12px;
}
