$weights: 300, 400, 500, 600, 700;

@each $weight in $weights {
    .fnw-#{$weight} {
        font-weight: $weight;
    }
}

$border-radius: (
    12: 12px,
    16: 16px,
    20: 20px,
    24: 24px,
    30: 30px,
);

@each $name, $value in $border-radius {
    .br-#{$name} {
        border-radius: $value;
    }
}